# Application
APP_ENV=development
APP_PORT=3000

# Database PostgreSQL
APP_DB_HOST=localhost
APP_DB_PORT=5432
APP_DB_NAME=lh_traffic
APP_DB_USER=postgres
APP_DB_PWD=your_password_here

# Redis
APP_REDIS_URL=redis://127.0.0.1:6379
APP_REDIS_DB=0
